<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BilgeAdam.WeatherService</title>
    <link href="~/css/metro-all.min.css" rel="stylesheet" />
    <link href="~/css/metro-colors.min.css" rel="stylesheet" />
    <link href="~/css/metro-icons.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="app-bar-expand-md bg-crimson" data-role="appbar">
        <a href="#" class="brand no-hover">
            <span style="width: 75px;background-color:#FFF" class="p-2 border bd-dark border-radius">
                Can<sup>Perkson</sup>
            </span>
        </a>

        <ul class="app-bar-menu">
            <li><a href="#">Ana Sayfa</a></li>
            <li>
                <a href="#" class="dropdown-toggle">Şehirler</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="#">Haftalık Özet</a></li>
                    <li><a href="#">Günlük Özet</a></li>
                    <li class="divider bg-lightGray"></li>
                    <li><a href="#">Yeni Bildirim</a></li>
                </ul>
            </li>
            <li id="searchArea">
                <input type="text" placeholder="Search" data-role="input" />
            </li>
        </ul>
    </div>
    <div class="container" id="container">
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/metro.min.js"></script>
    <script src="~/js/yms.js"></script>
    <script src="~/js/yms.tile.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
