@{
    ViewData["Title"] = "Home Page";
}

<yms-tile></yms-tile>

<script id="weatherTile" type="text/html">
    <div data-role="tile" data-size="large" data-effect="hover-zoom-right">
        <div class="slide-front">
            <h2>{{city}}</h2>
            <h5>{{text}}</h5>
        </div>
        <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
            <p class="text-center">
                <ul>
                    <li>Rüzgar</li>
                    <li>Nem</li>
                    <li>Basınç</li>
                </ul>

            </p>
        </div>
        <span class="branding-bar">Detay için tıklayınız</span>
    </div>
</script>

@section scripts{ 
    <script>
        $(document).ready(function () {
            yms.ajax.get("Ankara", function (r) {
                console.log(r);
            });
        });
    </script>
}