@{
    ViewData["Title"] = "Home Page";
}

<div id="root">
    <yms-tile query="Ankara"></yms-tile>
</div>

<script id="weatherTile" type="text/x-template">
    <div>
        <div class="tiles-grid tiles-group size-4">
            <div data-role="tile" class="bg-orange" data-size="wide">
                <span style="font-size:40px" class="pos-absolute pos-center">{{temperature}} &deg;C</span>
                <span class="branding-bar">{{city}}</span>
            </div>
            <div data-role="tile" class="bg-cyan">
                <span class="mif-water icon"></span>
                <span class="badge-bottom">{{humidity}} gr/m<sup>3</sup></span>
                <span class="branding-bar">Nem</span>
            </div>
            <div data-role="tile" class="bg-indigo">
                <span class="mif-cloud-download icon"></span>
                <span class="badge-bottom">{{pressure}} mm/Hg</span>
                <span class="branding-bar">Basınç</span>
            </div>
            <div data-role="tile" data-size="large" data-cover="/images/sunny1.jfif">
                <span class="branding-bar">{{text}}</span>
            </div>
            <div data-role="tile" class="bg-crimson">
                <span class="mif-move-up icon"></span>
                <span class="badge-bottom">{{seaLevel}} m</span>
                <span class="branding-bar">Rakım</span>
            </div>
        </div>
    </div>
</script>